body {

    font-family: Roboto;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

:root {
    --first-color: #2F303A;
    --second-color: #FFFFFF;
    --third-color: #188CE8;
    --fourth-color: #212121;
    --fifth-color: #757575;
    --sixth-color: #F5F4FA;

}

.hero {
    background-color: var(--first-color);
}

.hero-text {
    color: var(--second-color);
    display: flex;
    align-items: center;
}

.hero-btn {
    background-color: var(--third-color);
    color: var(--second-color);
    align-items: center;
}

.block1-title,
.block2-title,
.block3-title,
.block4-title {
    color: var(--fourth-color);
}

.block1-text,
.block2-text,
.block3-text,
.block4-text {
    color: var(--fifth-color);
}


.team-1 {
    display: flex;
    box-sizing: border-box;
    margin-left: 215px;
    margin-bottom: 1632px;
    text-align: center;
    
}

.team-2 {
    display: flex;
    box-sizing: border-box;
    margin-left: 515px;
    margin-bottom: 1632px;
    text-align: center;
    
}

.team-3 {
    display: flex;
    box-sizing: border-box;
    margin-left: 815px;
    margin-bottom: 1632px;
    text-align: center;
    
}

.team-4 {
    display: flex;
    box-sizing: border-box;
    margin-left: 1115px;
    margin-bottom: 1632px;
    text-align: center;
    
}

.team-card {
    display: inline-block;
    width: 22%;
    height: 100px;
    box-sizing: border-box;
    vertical-align: top;


}

.team-card img {
    width: 100%;

}
.team {
    text-align: center;
    justify-content: center;
}


footer {
    background-color: var(--first-color);
    margin-top: 1100px;
    
}